.bar-chart-title {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 30px 20px;
    font-size: 0.7rem;
}

.bar-chart-title div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: rgba(128, 128, 128, 0.825);
    font-size: 0.6rem;
}

.activity-chart {
    padding: 15px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}