.chart-container {
    position: relative;
    width: 30%;
    height: 263px;
    background: #ff0000e9;
    border-radius: 10px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: bold;
}

.chart-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: left 0.2s ease-out;
}

.tooltip-box {
    background: white;
    color: black;
    padding: 10px;
    font-size: 12px;
}

.chart-title {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}