@import './navbar.css';
@import './sidebar.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
}

.content {
    padding: 20px;
    margin: auto;
    width: 90%;
    height: 90%;
}
