@import './navbar.css';
@import './sidebar.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
}

.content {
    padding: 20px;
    margin: auto;
    width: 90%;
    height: 90%;
}

.user-name {
    font-weight: bold;
    color: red;
}

.bar-chart-title {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 30px 20px;
    font-size: 0.7rem;
}

.bar-chart-title div {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.activity-chart {
    padding-bottom: 20px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
