/**** Cards ****/
.key-data-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #FBFBFB;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
  }
  
  .key-data-icon {
    width: 60px;
    height: 60px;
  }
  
  .key-data-value {
    font-size: 18px;
    font-weight: bold;
  }
  
  .key-data-label {
    font-size: 12px;
    color: gray;
    padding: 5px 0;
  }

/**** Section ****/
.key-data-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
  }
  