.navbar {
  max-height: 91px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
}

.navbar-menu {
  list-style: none;
  display: flex;
  width: 85%;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.navbar-logo {
  height: 60px;
  margin-left: 20px;
}

.navbar-logo img {
  height: 100%;
}